/* Avoid default max-width: 100%; to display map controls correctly */
li.gmap {
    overflow: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
}

li.gmap img {
    max-width: none;
}

.hidden {
    display: none;
}

.update-map-button {
    cursor: pointer;
    padding-top: 8px; 
    margin-top: 1.2em; 
    margin-left: 16.66%; 
    margin-bottom: 1.2em;
}
